@import ../node_modules/normalize.css/normalize.css
@import ./media-queries.sass
*
    box-sizing: border-box

html
    height: 100%    

body
    height: 100%
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Roboto Rouble', sans-serif

#root
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100%

.container
    display: flex
    flex-direction: column
    flex-grow: 1
    padding: 15px 15px 64px 15px  
    
.loader
    align-self: center
    margin-top: auto
    margin-bottom: auto

.select
    appearance: none
    background: #eceef4
    border-radius: 4px
    border: 1px #ccd3e3 solid
    padding: 10px 5px

.list
    display: flex    
    flex-wrap: wrap
    overflow: auto
    padding: 15px 0

ul
    margin: 0
    padding: 0    

li
    list-style: none

img
    width: 100%